[Desktop Entry]
Type=Application
Name=App Manager
Exec=/home/moi/AM-AppStore-Test/start-appstore.sh
Icon=/home/moi/AM-AppStore-Test/app-icon.png
StartupWMClass=App Manager
Terminal=false
Categories=Utility;
